.filteroption{
    margin: 20px 0px -5px 10px;
    font-size: 18px;
    background: #3b4550;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #10ac84;
}

.filteroption select{
    font-size: 16px;
    padding: 2px;
    border-radius: 5px;
    background: #0e9472;
    color: #fff;
    font-weight: bold;
}