.App{
    background: #485460;
    margin: 25px auto;
    max-width: 900px;
    color: #fff;
    font-family: sans-serif;
   
}
h1{
    background: #10ac84;
    padding: 10px;
}
h2{
    padding: 10px;
    border-bottom: 2px solid #10ac84;
    background: #0e9472;
}

